process.resourceLimits = [
            memory: 20.GB,
            cpus: 2,
            time: 1.d
        ]

profiles {
    local {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    slurm {
        process.executor = 'slurm'
    }
    test {
        params.input_dir = "$baseDir/test_data"
        params.gtf = "$baseDir/test_data/test_human_chrM_22.gtf"
        params.fasta = "$baseDir/test_data/test_human_chrM_22.fa"
        params.rmd_template = "$baseDir/riboseqc_template.Rmd"
        params.outdir = "results"
    }
}
